* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotromp {
    color: #ffffff;
    background-color: #000000;
    width: 50%;
    height: 15vh;
    margin-bottom: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#date {
    color: #f1e20a;
    font-size: 1.2em;
}

#time {
    color: #f1e20a;
    font-size: 0.9em;
}