* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    margin-top: 10px;
    background-color: #1A237E;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nav-item a {
    color: #ffffff;
}