* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 70vh;
    background-image: url("../IMG/background-register.jpg");
    background-size: 100% 130%;
}

.main-container {
    width: 100%;
    height: 100%;
}

.wrapper {
    margin-top: 8%;
    padding-bottom: 10px;
    margin-left: 10%;
    width: 60%;
}

.container {
    padding: 1.5rem;
    background-color: #ffffff;
}

#btn-register {
    color: #fff;
    background-color: #1A237E
}

.form-control {
    font-size: 14px;
    font-weight: 300;
}

label {
    font-weight: 300;
    padding-top: 2px;
}